<form method="POST" class="mt-5">
  <div class="form-group">
    <label for="inputTitle">title</label>
    <input type="text" value="<%= item.title %>" name="title" class="form-control" id="inputTitle">
  </div>

  <div class="form-group">
    <label for="inputAuthor">author</label>
    <input type="text" value="<%= item.authors %>" name="author" class="form-control" id="inputAuthor">
  </div>

  <div class="form-group">
    <label for="inputFavorite">favorite</label>
    <input type="checkbox"  name="favorite" class="form-control" id="inputFavorite" <%= item.favorite ? "checked" : "" %> />
  </div>

  <div class="form-group">
    <label for="fileCover">fileCover</label>
    <input type="text" value="<%= item.fileCover %>" name="fileCover" class="form-control" id="fileCover">
  </div>

  <div class="form-group">
    <label for="fileName">fileName</label>
    <input type="text" value="<%= item.fileName %>" name="fileName" class="form-control" id="fileName">
  </div>

  <div class="form-group">
    <label for="fileBook">fileName</label>
    <input type="text" value="<%= item.fileBook %>" name="fileBook" class="form-control" id="fileBook">
  </div>

  <div class="form-group">
    <label for="inputDesc">Описание</label>
    <textarea rows="3" name="desc" class="form-control" id="inputDesc"><%= item.description %></textarea>
  </div>

  <div class="form-group text-right ">
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </div>
</form>